body {
    background: #212f4c;
    background-image: url('./assets/stars.png');
    background-size: 50%;
    background-attachment: fixed;
}

div.card {
    width: 350px;
    height: 450px;
    background-color: rgba(255, 255, 255, 0.4);
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

div.card img {
    width: 300px;
    height: 300px;
    margin: 20px 0;  
    box-shadow: 0 15px 20px #1B2631  ;  /* lado derecho, abajo, sombra, color*/
}

div.card p {
    background-color: rgba(255, 255, 255, 0.4);
    width: 300px;    
    padding: 8px 0;
    margin: 5px;
    border: 3px solid #212f4c;
    border-radius: 30px;
    text-align: center;
    box-shadow: 0 5px 15px #1B2631  ;  /* lado derecho, abajo, sombra, color*/    
}